.styled-title-subtitle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
    margin-bottom: 42px;
    text-align: center;
    display: block;
}

.styled-title-subtitle-title{
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 700;
}

.styled-title-subtitle-subtitle{
    margin: auto;
    max-width: 465px;
    color: rgb(71, 71, 71);
    font-size: 18px;
}
    