.styled-rating {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .styled-rating-star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .styled-rating-star.filled {
    color: rgb(255, 112, 4);
  }   