.styled-tabs {
  width: 100%;
text-align: center; 
 padding: 8px 12px;
  
}

.styled-tabs-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
    font-size: 20px;
    margin-right: 30px;
    vertical-align: top;
    display: inline-block;
    text-transform: capitalize;
    color: rgb(71, 71, 71);
    transition: all 0.4s ease 0s;
    font-weight: 600;

}

.styled-tabs-button.active {
  color: rgb(255, 112, 4);
}

.styled-tabs-button.active::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0; 
  right: 0;
  height: 2px; 
  margin: 0 5px; 
}