.styled-hyperlink{
    border: 0px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.4s ease 0s;
    padding-left: 10px;
}

.styled-hyperlink.black{
    color: rgb(71, 71, 71);
}

.styled-hyperlink.white{
    color: white;
}

.styled-hyperlink:hover{
    color:rgb(255, 112, 4);
    text-decoration: none;
}