.styled-hyperlink{
    text-decoration: none;
    padding-left: 10px;
}

.styled-hyperlink.black{
    color: rgb(71, 71, 71);
}

.styled-hyperlink.white{
    color: white;
}

.styled-hyperlink:hover{
    color:rgb(255, 112, 4);
    text-decoration: none;
}