.styled-select{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(235, 235, 235);
}

.styled-select-value{
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px 2px 16px;
  position: relative;
  overflow: hidden;
  color: rgb(25, 25, 25);
}
.styled-select-options{
  color: rgb(25, 25, 25);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-size: 14px;
}