.styled-select {
  display: inline-block;
  position: relative;
  width: 100%;
}

.styled-select-value {
  display: flex;
  align-items: center;
  min-height: 45px;
  background-color: #fff;
  border-radius: 3px;
  padding: 2px 8px 2px 16px;
  color: #191919;
  cursor: pointer;
}

.styled-select-value.open {
  border: 1px solid rgb(255, 112, 4);
}

.styled-select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.styled-select-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-top: none;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}

.styled-select-label {
  padding: 8px 16px;
  cursor: pointer;
}

.styled-select-label:hover {
  background-color: #f1f1f1;
}

.styled-select-options .styled-select-label:hover{  
  background-color: rgb(255, 112, 4);
}