.styled-cart-sidebar{
    width: 100%;
    height: 100%;
    max-width: 385px;
    position: relative;
    margin-left: auto;
    transform: translateX(0px);
    transition: all 0.4s ease 0s;
    background-color: rgba(255, 255, 255);
}

.styled-cart-sidebar-element{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.styled-cart-sidebar-element-tabs{
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.styled-cart-sidebar-element-tabs-title{
    font-size: 20px;
    color: rgb(33, 33, 33);
    font-family: "Open Sans";
    font-weight: 700;
}

.styled-cart-sidebar-element-tabs-button{
    position: relative;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    border: 0px;
    background-color: transparent;
}


.styled-cart-sidebar-element-tabs-button::after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    width: 20px;
    height: 2px;
    transition: all 0.4s ease 0s;
    transform: rotate(-45deg);
    background-color: rgb(255, 112, 4);
}

.styled-cart-sidebar-element-tabs-button::before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    width: 20px;
    height: 2px;
    transition: all 0.4s ease 0s;
    transform: rotate(45deg);
    background-color: rgb(255, 112, 4);
}


.styled-cartsidebar{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    transition: all 0.4s ease 0s;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.styled-cart-sidebar-none{
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.styled-cart-sidebar-element-tabs-button:hover::before,
.styled-cart-sidebar-element-tabs-button:hover:after {
        transform: rotate(180deg);
}

.styled-cart-sidebar-cart{
    position: relative;
    height: 100%;
}

.styled-cart-sidebar-cart-product{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 20px 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.styled-cart-sidebar-cart-product-link{
    flex: 1 0 75px;
    border: 0px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.4s ease 0s;
}

.styled-cart-sidebar-cart-product-image{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
}

.styled-cart-sidebar-cart-product-image-element{
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.styled-cart-sidebar-cart-product-image-img{
    position:relative;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.styled-cart-sidebar-button{
    padding: 20px;
    padding-bottom: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.styled-cart-sidebar-button-title{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-radius: 3px;
    padding: 5px;
    line-height: 1;
    border: 0px;
    transition: all 0.4s ease 0s;
    font-size: 16px;
    font-family: Raleway;
    background-color: rgb(255, 112, 4);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.styled-cart-sidebar-button-title:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(47, 51, 58);
}

.styled-cart-sidebar-price{
    margin-left: auto;
    height: 45px;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 112, 4);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    position: relative;
}

.styled-cart-sidebar-cart-product-description{
    display: flex;
    margin-top: -4px;
    position: relative;
    padding-left: 12px;
    align-items: flex-start;
    flex: 1 0 calc(100% - 150px);
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: "Open Sans";
}

.styled-cart-sidebar-cart-product-description-link{
    color: rgb(33, 33, 33);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.4s ease 0s;
}

.styled-cart-sidebar-cart-product-description-price{
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 112, 4);
}

.styled-cart-sidebar-cart-product-description-close{
    width: 25px;
    height: 25px;
    line-height: 1;
    font-size: 17px;
    color: rgb(33, 33, 33);
    font-family: Raleway;
    border-radius: 50%;
    border: none;
}

.styled-cart-sidebar-cart-product-description-close:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(220, 53, 69);
}